body{
	background: #ffffff;
	color: #000000;
	text-align: center;
}
h1{
	color: rgb(2, 132, 130);
	text-align: center;
}
h2 {
	color: #ffd700;
	text-align: center;
}
.board {
	display: inline-block;
	height: 50%;
	width: 50%;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ffff00;
	float:left;
	margin: 8%;
}
.name {
	color: #ff0000;
}
nav {
	background-color: #808080;
	
}
a{
	color: #ffffff;
	background-color: #ffbf00;
	padding: 35px;
	float: left;
	display: inline-block;
}
nav a:hover {
	background-color: #ee5f3c;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
footer {
	background-color: #8080880;
}/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
